{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <style>
        .profile-block {
            border-top: 1px solid #dee2e6;
        {#border-bottom: 1px solid #dee2e6;#}
        }

        .btn-2 {
            background-color: #fdc107;
            border: 2px solid #fff;
            border-radius: 50%;
            font-size: 16px;
            top: 150px;
            left: 58%;
            position: absolute;
        }

        .btn-2 span {
            padding: 3px;
            color: #fff;
        }

        .elem-center {
            display: flex;
            justify-content: center;

        }

        .edu-btn {
            font-size: 12px;
            background-color: #f5d500;
            color: #303030;
        }

        @media screen and (min-width: 768px) and (max-width: 992px) {
            .btn-2 {
                background-color: #f5d500;
                border: 2px solid #fff;
                border-radius: 50%;
                font-size: 16px;
                top: 150px;
                left: 55%;
                position: absolute;
            }
        }

        .text-center2 {
            padding-left: 15px;
            text-align: left !important;
        }

        #raqamprofil {
            margin-top: 16px;
            font-size: 20px;
            color: #f5d500;
            font-weight: bold;
            text-align: center
        }

        #dataProfil {
            margin-top: 16px;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.60);
        }

        .tab-2 .nav-tabs .nav-link.active {
            color: #f5d500;
            background-color: #fff;
            border-bottom: 2px solid #f5d500;
            font-size: 18px;
        }

        .tab-2 .nav-tabs {
            border-bottom: 0;
        }

        .form-group label {
            font-weight: bold;
        }

        .field-icon {
            float: right;
            margin-left: -25px;
            margin-top: -25px;
            position: relative;
            padding-right: 10px;
            z-index: 2;
        }

        .btn-changeAva {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Rock+Salt|Source+Code+Pro:300,400,600" rel="stylesheet">
    <link href="{% static '/card/style.css' %}" rel="stylesheet">
    <div class="container-fluid">
        <div class="page-head">
            <h3 class="mt-2 mb-2" style="font-weight: 600">Profil</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="card m-b-30 border-0">
                    <div class="card-body pro-img mx-auto text-center">
                        <div>
                            <img src="







                                    {% if speaker.image.url is not None %}{{ speaker.image.url }}{% else %}{% static 'assets/images/users/avatar-1.jpg' %}{% endif %}"
                                 alt="" class="rounded-circle mx-auto d-block">
                            <button class="btn btn-default btn-2 btn-changeAva"><span class="fa fa-camera"></span>
                            </button>
                        </div>
                        <form action="{% url 'change-photo' %}" id="photoform" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center">
                                <h5>{{ speaker.speaker.first_name }} {{ speaker.speaker.last_name }}</h5>
                                <p class="text-muted">{{ speaker.kasbi }}</p>
                                <input type="file" id="file" name="rasm" required style="display: none"/>
                            </div>
                        </form>
                    </div>

                    <div class="row text-center2 profile-block">
                        <div class="col-8 align-self-center py-3 border-right">
                            <p id="dataProfil">Kurslar soni</p>
                        </div>
                        <div class="col-4 align-self-center py-3">
                            <p id="raqamprofil">{{ course_count }}</p>
                        </div>
                    </div>
                    <div class="row text-center2 profile-block">
                        <div class="col-8 align-self-center py-3 border-right">
                            <p id="dataProfil">O'quvchilar soni</p>
                        </div>
                        <div class="col-4 align-self-center py-3">
                            <p id="raqamprofil">{{ sells }}</p>
                        </div>
                    </div>
                    <div class="row text-center2 profile-block">
                        <div class="col-8 align-self-center py-3 border-right">
                            <p id="dataProfil">Reyting</p>
                        </div>
                        <div class="col-4 align-self-center py-3">
                            <p id="raqamprofil">{{ rank }}</p>
                        </div>
                    </div>
                    <div class="row text-center2 profile-block">
                        <div class="col-12 align-self-center py-3">
                            <p>https://eduon.uz/registration?ref={{ speaker.own_ref_code }}</p>
                        </div>
                    </div>
                    <div class="row profile-block" style="text-align: center">
                        <div class="col-12 align-self-center py-3">
                            <p style="font-size: 14px;">EduOn da {{ speaker.speaker.date_joined }} dan beri</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="card-title  tab-2">
                    <ul class="nav nav-tabs  nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" href="#edit" data-toggle="tab" aria-expanded="false">Profil
                                sozlamalari <i class="ti-pencil mr-2"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#card" data-toggle="tab" aria-expanded="false">Plastik karta <i
                                    class="ti-key mr-2"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#settings" data-toggle="tab" aria-expanded="false">Parolni
                                o'zgartirish <i class="ti-key mr-2"></i></a>
                        </li>
                    </ul>
                    <div class="tab-content p-4 bg-white">
                        <div class="tab-pane active" id="edit">
                            <form class="form-horizontal" method="post" action="{% url 'edit-profile' %}"
                                  enctype="multipart/form-data">
                                <div class="card-body">
                                    <div class="row">


                                        {% csrf_token %}
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Ism*</label>
                                                <input required type="text" class="form-control" name="first_name"
                                                       value="{{ speaker.speaker.first_name }}" id="exampleInputEmail1"
                                                       placeholder="Ism">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Familya*</label>
                                                <input required type="text" placeholder="Familya" name="last_name"
                                                       value="{{ speaker.speaker.last_name }}"
                                                       class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Kasb/Status</label>
                                                <input type="text" placeholder="Kasbi" name='kasbi'
                                                       {% if speaker.kasbi is not None %}value="{{ speaker.kasbi }}"{% endif %}
                                                       class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-8"><label for="exampleInputEmail1">Kompaniya/Muassasa</label>
                                                    </div>
                                                    <div class="col-md-4 elem-center"><img
                                                            style="width: 40px;height: 35px"
                                                            {% if speaker.logo.url is not None %}
                                                            src="{{ speaker.logo.url }}"
                                                            {% else %}style="display: none"{% endif %}
                                                            id="imageLogo"/></div>
                                                    <div class="col-md-8">
                                                        <input type="text" placeholder="Kompaniya" name='compony'
                                                               {% if speaker.compony is not None %}value="{{ speaker.compony }}"{% endif %}
                                                               class="form-control form-control-line">
                                                    </div>
                                                    <div class="col-md-4 elem-center">
                                                        <input type="file" id="logoField" style="display: none"
                                                               name="logo">
                                                        <button type="button" class="btn btn-default edu-btn"
                                                                id="openLogoField">Logo yuklash
                                                        </button>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Tug'ilgan sana</label>
                                                <input type="date" name="both_date"
                                                       value="{{ speaker.both_date|date:'Y-m-d' }}"
                                                       class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Telefon raqam</label>
                                                <input type="text" placeholder="Telefon" name="tel"
                                                        {% if speaker.phone is not None %}
                                                       value="{{ speaker.phone }}"{% endif %}
                                                       class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Davlat</label>
                                                <input type="text" placeholder="Davlat" name='country'
                                                       {% if speaker.country is not None %}value="{{ speaker.country }}"{% endif %}
                                                       class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Shaxar</label>
                                                <input type="text" placeholder="Shaxar" name='city'
                                                       {% if speaker.city is not None %}value="{{ speaker.city }}"{% endif %}
                                                       class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Qo'shimcha ma'lumot</label>

                                                <textarea rows="5" placeholder="Malumot"
                                                          class="form-control form-control-line"
                                                          name="description">{{ speaker.description }}</textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-warning"
                                                        style="background-color: #f5d500">Saqlash
                                                </button>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane" id="card">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="credit-card-body">
                                        <div class="container preload">
                                            <div class="creditcard">
                                                <div class="front">
                                                    <div id="ccsingle"></div>
                                                    <svg version="1.1" id="cardfront" xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         x="0px" y="0px" viewBox="0 0 750 471"
                                                         style="enable-background:new 0 0 750 471;"
                                                         xml:space="preserve">
                    <g id="Front">
                        <g id="CardBackground">
                            <g id="Page-1_1_">
                                <g id="amex_1_">
                                    <path id="Rectangle-1_1_" class="lightcolor grey" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                            C0,17.9,17.9,0,40,0z"/>
                                </g>
                            </g>
                            <path class="darkcolor greydark"
                                  d="M750,431V193.2c-217.6-57.5-556.4-13.5-750,24.9V431c0,22.1,17.9,40,40,40h670C732.1,471,750,453.1,750,431z"/>
                        </g>
                        <text transform="matrix(1 0 0 1 60.106 295.0121)" id="svgnumber" class="st2 st3 st4">{% if speaker.card_number is not None %}{{ speaker.card_number }}{% else %}0123 4567 8910 1112{% endif %}</text>
                        <text transform="matrix(1 0 0 1 54.1064 428.1723)" id="svgname"
                              class="st2 st5 st6">{% if speaker.card_name is not None %}{{ speaker.card_name }}{% else %}Eduon{% endif %}</text>
                        <text transform="matrix(1 0 0 1 54.1074 389.8793)" class="st7 st5 st8">cardholder name</text>
                        <text transform="matrix(1 0 0 1 479.7754 388.8793)" class="st7 st5 st8">expiration</text>
                        <text transform="matrix(1 0 0 1 65.1054 241.5)" class="st7 st5 st8">card number</text>
                        <g>
                            <text transform="matrix(1 0 0 1 574.4219 433.8095)" id="svgexpire"
                                  class="st2 st5 st9">{% if speaker.card_date is not None %}{{ speaker.card_date }}{% else %}01/23{% endif %}</text>
                            <text transform="matrix(1 0 0 1 479.3848 417.0097)" class="st2 st10 st11">VALID</text>
                            <text transform="matrix(1 0 0 1 479.3848 435.6762)" class="st2 st10 st11">THRU</text>
                            <polygon class="st2" points="554.5,421 540.4,414.2 540.4,427.9 		"/>
                        </g>
                        <g id="cchip">
                            <g>
                                <path class="st2" d="M168.1,143.6H82.9c-10.2,0-18.5-8.3-18.5-18.5V74.9c0-10.2,8.3-18.5,18.5-18.5h85.3
                        c10.2,0,18.5,8.3,18.5,18.5v50.2C186.6,135.3,178.3,143.6,168.1,143.6z"/>
                            </g>
                            <g>
                                <g>
                                    <rect x="82" y="70" class="st12" width="1.5" height="60"/>
                                </g>
                                <g>
                                    <rect x="167.4" y="70" class="st12" width="1.5" height="60"/>
                                </g>
                                <g>
                                    <path class="st12" d="M125.5,130.8c-10.2,0-18.5-8.3-18.5-18.5c0-4.6,1.7-8.9,4.7-12.3c-3-3.4-4.7-7.7-4.7-12.3
                            c0-10.2,8.3-18.5,18.5-18.5s18.5,8.3,18.5,18.5c0,4.6-1.7,8.9-4.7,12.3c3,3.4,4.7,7.7,4.7,12.3
                            C143.9,122.5,135.7,130.8,125.5,130.8z M125.5,70.8c-9.3,0-16.9,7.6-16.9,16.9c0,4.4,1.7,8.6,4.8,11.8l0.5,0.5l-0.5,0.5
                            c-3.1,3.2-4.8,7.4-4.8,11.8c0,9.3,7.6,16.9,16.9,16.9s16.9-7.6,16.9-16.9c0-4.4-1.7-8.6-4.8-11.8l-0.5-0.5l0.5-0.5
                            c3.1-3.2,4.8-7.4,4.8-11.8C142.4,78.4,134.8,70.8,125.5,70.8z"/>
                                </g>
                                <g>
                                    <rect x="82.8" y="82.1" class="st12" width="25.8" height="1.5"/>
                                </g>
                                <g>
                                    <rect x="82.8" y="117.9" class="st12" width="26.1" height="1.5"/>
                                </g>
                                <g>
                                    <rect x="142.4" y="82.1" class="st12" width="25.8" height="1.5"/>
                                </g>
                                <g>
                                    <rect x="142" y="117.9" class="st12" width="26.2" height="1.5"/>
                                </g>
                            </g>
                        </g>
                    </g>
                                                        <g id="Back">
                    </g>
                </svg>
                                                </div>
                                                <div class="back">
                                                    <svg version="1.1" id="cardback" xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         x="0px" y="0px" viewBox="0 0 750 471"
                                                         style="enable-background:new 0 0 750 471;"
                                                         xml:space="preserve">
                    <g id="Front">
                        <line class="st0" x1="35.3" y1="10.4" x2="36.7" y2="11"/>
                    </g>
                                                        <g id="Back">
                        <g id="Page-1_2_">
                            <g id="amex_2_">
                                <path id="Rectangle-1_2_" class="darkcolor greydark" d="M40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40
                        C0,17.9,17.9,0,40,0z"/>
                            </g>
                        </g>
                                                            <rect y="61.6" class="st2" width="750" height="78"/>
                                                            <g>
                            <path class="st3" d="M701.1,249.1H48.9c-3.3,0-6-2.7-6-6v-52.5c0-3.3,2.7-6,6-6h652.1c3.3,0,6,2.7,6,6v52.5
                    C707.1,246.4,704.4,249.1,701.1,249.1z"/>
                                                                <rect x="42.9" y="198.6" class="st4" width="664.1"
                                                                      height="10.5"/>
                                                                <rect x="42.9" y="224.5" class="st4" width="664.1"
                                                                      height="10.5"/>
                                                                <path class="st5"
                                                                      d="M701.1,184.6H618h-8h-10v64.5h10h8h83.1c3.3,0,6-2.7,6-6v-52.5C707.1,187.3,704.4,184.6,701.1,184.6z"/>
                        </g>
                                                            <text transform="matrix(1 0 0 1 621.999 227.2734)"
                                                                  id="svgsecurity" class="st6 st7">985</text>
                                                            <g class="st8">
                            <text transform="matrix(1 0 0 1 518.083 280.0879)" class="st9 st6 st10">security code</text>
                        </g>
                                                            <rect x="58.1" y="378.6" class="st11" width="375.5"
                                                                  height="13.5"/>
                                                            <rect x="58.1" y="405.6" class="st11" width="421.7"
                                                                  height="13.5"/>
                                                            <text transform="matrix(1 0 0 1 59.5073 228.6099)"
                                                                  id="svgnameback" class="st12 st13">John Doe</text>
                    </g>
                </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-container">
                                                <div class="field-container">
                                                    <input id="name" maxlength="20" {% if speaker.card_name is not None %} value="{{ speaker.card_name }}"{% endif %} name="card_name" type="text" required>
                                                <label for="name">Karta egasi</label>
                                                </div>
                                                <div class="field-container">
                                                    <input id="cardnumber" type="text" pattern="[0-9]*"
                                                           name="card_number" inputmode="numeric"
                                                           {% if speaker.card_number is not None %} value="{{ speaker.card_number }}"{% endif %} >
                                                    <svg id="ccicon" class="ccicon" width="750" height="471"
                                                         viewBox="0 0 750 471" version="1.1"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink">

                                                    </svg>
                                                    <label for="cardnumber">Karta no'meri</label><span id="generatecard"
                                                                                                       style="display: none">generate random</span>
                                                </div>
                                                <div class="field-container">

                                                    <input id="expirationdate" type="text" name="card_date"
                                                           pattern="[0-9]*"
                                                           {% if speaker.card_date is not None %} value="{{ speaker.card_date }}"{% endif %}
                                                           inputmode="numeric">
                                                <label for="expirationdate">Amal qilish muddati (mm/yy)</label>
                                                </div>
                                                <div class="field-container" style="padding-top:5px;">
                                                    <label for="securitycode"></label>
                                                    <button type="button" onclick="CardAdd()" class="btn btn-primary" style="padding-top: 10px">Qo'shish</button>
                                                </div>
                                                <div class="field-container" style="display: none;">
                                                    <label for="securitycode">Security Code</label>
                                                    <input id="securitycode" type="text" pattern="[0-9]*"
                                                           inputmode="numeric">
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="settings">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card-body">
                                        <form class="form-horizontal" method="post" action="{% url 'edit-password' %}">
                                            {% csrf_token %}
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Amaldagi parol</label>
                                                    <input type="password" class="form-control" required
                                                           id="oldPassword" name="old_password" id="exampleInputEmail1">
                                                    <span toggle="#password-field"
                                                          class="fa fa-fw fa-eye field-icon toggle-password-old"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Yangi parol</label>
                                                    <input type="password" name="new_password" required id="newPassword"
                                                           class="form-control form-control-line">
                                                    <span toggle="#password-field"
                                                          class="fa fa-fw fa-eye field-icon toggle-password-new"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Parolni tasdiqlash</label>
                                                    <input type="password" name='conf_password' required
                                                           id="confPassword" class="form-control form-control-line">
                                                    <span toggle="#password-field"
                                                          class="fa fa-fw fa-eye field-icon toggle-password-conf"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <button class="btn btn-warning edu-btn" type="submit">Saqlash
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end row-->

    </div><!--end container-->
{% endblock content %}
{% block js %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js'></script>
    <script src="{% static '/card/script.js' %}"></script>
    <script>
        $("#logoField").change(function (event) {
            var img = event.target.files[0]
            if (img.type.split('/')[0] === 'image') {
                $("#imageLogo").attr("src", URL.createObjectURL(event.target.files[0]));
                $("#imageLogo").css('display', 'unset');
                $("#imageLogo").css('width', '40px');
                $("#imageLogo").css('height', 'unset');

            }
        })
        $("#openLogoField").click(function () {
            $("#logoField").trigger('click');
        })
    </script>
    <script>
        $(".toggle-password-conf").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            if ($("#confPassword").attr("type") === "password") {
                $("#confPassword").attr("type", "text");
            } else {
                $("#confPassword").attr("type", "password");
            }
        });
        $(".toggle-password-old").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            if ($("#oldPassword").attr("type") === "password") {
                $("#oldPassword").attr("type", "text");
            } else {
                $("#oldPassword").attr("type", "password");
            }
        });
        $(".toggle-password-new").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            if ($("#newPassword").attr("type") === "password") {
                $("#newPassword").attr("type", "text");
            } else {
                $("#newPassword").attr("type", "password");
            }
        });
        $("#file").change(function (event) {
            var img = event.target.files[0]
            if (img.type.split('/')[0] === 'image') {
                $("#photoform").submit();
            }

        })
        $(document).on('click', '.btn-2', function () {
            $("#file").trigger('click')
        })

    </script>
    <script>
    function CardAdd(){
        var name = document.getElementById("name").value;
        var card_number = document.getElementById("cardnumber").value;
        var card_date = document.getElementById("expirationdate").value;

        var data = {card_name:name, card_number:card_number, card_date:card_date}

        $.ajax({
            type:'get',
            url:'/credit-card/',
            data:data,
            success:function (data){
                console.log(data)
            }
        })
    }
    </script>
    <script src="{% static 'assets/plugins/sweet-alert/sweetalert2.min.js' %}"></script>
    {% if messages %}
        {% for message in messages %}
            <script>
                !function ($) {
                    "use strict";

                    var SweetAlert = function () {
                    };

                    //examples
                    SweetAlert.prototype.init = function () {
                        //Error
                        $(document).ready(function () {
                            swal('Oops...', '{{ message }}', 'error')
                        })
                    },
                        //init
                        $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert
                }(window.jQuery),

//initializing
                    function ($) {
                        "use strict";
                        $.SweetAlert.init()
                    }(window.jQuery);
            </script>
        {% endfor %}
    {% endif %}
{% endblock js %}
